.section {
  display: flex;
  align-items: center;
  gap: 57.61px;
  margin-top: 278px;
}
.content {
  text-align: flex-start;
  gap: 68.42px;
}
h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  margin-bottom: 27px;
}
h4 {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  padding-bottom: 70px;
}

.btncontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
